
.main-page{
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.title-text{
    padding: 20px;
    text-align: left;
    max-width: 600px;
}



.guitar-card{
  display: block;
}
.guitar-image{
    display: block;
}
@media screen and (max-width: 1000px){
    .title-text{
    font-size: 12px;   }
}