
.main-page{
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.title-text{
    padding: 20px;
    text-align: left;
    max-width: 600px;
}



.guitar-card{
  display: block;
  margin: 0 20px;
}
.guitar-item{
    display: block;
    width: 140px;
    height: 340px;
}
@media screen and (max-width: 1000px){
    .title-text{
    font-size: 12px;   
}
.guitar-item{
    transform: rotate(45deg) ;
    width: 140px;
    height: 340px;
}
}